<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item">
        <img src="{{url_for('static', filename = 'images/israel/falafel.jpg')}}"  alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item active">
        <img src="{{url_for('static', filename = 'images/israel/tel_aviv_jaffa.jpg')}}"  alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename = 'images/israel/sun.jpg')}}"  alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename = 'images/israel/tel_aviv_jaffa_2.jpg')}}"  alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{url_for('static', filename = 'images/israel/jerusalem.jpg')}}"  alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
 
  </div>
  