{% extends "layout.html" %}

{% block title %}
Beautiful Vacations | Join Us
{% endblock title %}

{% block main %}

<section class="login-page">
    <h2 class="home-title">Join Us</h2>
    <p class="home">Interested in joining our community? Fill out the form below and stay connected with Beautiful Vacations!</p>
    <br>
    <form class="login-form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>    
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div> 
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="button">Join Us</button>
    </form>
    <br><br>
    <h3 class="home-title">Subscribe for Deals</h3>
    <p class="home">Stay updated with our latest deals and promotions by subscribing below.</p>
    <form class="login-form">
        <div class="form-group">
            <label for="subscribe_email">Email:</label>
            <input type="email" id="subscribe_email" name="subscribe_email" required>
        </div>
        <button type="button">Subscribe</button>
    </form>
</section>
{% endblock main %}
