{% extends "layout.html" %}

{% block title %}
Beautiful Vacations | Login
{% endblock title %}

{% block main %}
<div class="login-page">
    <h1>Login to Beautiful Vacations</h1>
    <form method="post" class="login-form">
        <div class="form-group">
            <label>Email: </label>
            <input type="email" name="email" value="{{credentials.email}}"  required minlength="5" maxlength="100">
        </div>
        <div class="form-group">
            <label>Password: </label>
            <input type="password" name="password" value="{{credentials.password}}"   required minlength="4" maxlength="60">
        </div>
        <button>Login</button>
        <br><br>
        <p>Don't have an account?</p> <a href="{{ url_for('auth_view.register') }}">Register now</a>
    </form>

</div>
{% endblock main %}

